<nav class="navigation" style="">
  <div class="navigation__container"><a href="/">
      <p class="navigation__small-logo">LOGO</p>
    </a>
    <div class="navigation__right">
      <li style="" class="navli"><a class="f-link" href="/" style="font-size: 22px;">Home</a></li>
      <li class="navli"><a class="f-link" href="/team" style="font-size: 22px;">Gallery</a></li>
      <li class="navli"><a class="f-link" href="/lore" style="font-size: 22px;">About</a></li>
      <li class="navli"><a class="f-link" href="/roadmap" style="font-size: 22px;">Connect Wallet</a></li>
    </div>
  </div>
</nav>
{{ range $key, $.style}}
.
{{end }}